<ion-header>
  <app-navbar-f></app-navbar-f>
</ion-header>

<ion-content >
  <div class="row" style="background-color: aliceblue;height: 110%;">

  
  <div class="container" >
    <div class="main-body">
    
         
          <nav aria-label="breadcrumb" class="main-breadcrumb bg-primary">
            <ol class="breadcrumb bg-primary">
              <li class="breadcrumb-item"><a href="#"  routerLink="/homepage" style="color: white;">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page"><a href="index.html" style="color: white;">Faculty Profile</a></li>
              
            </ol>
          </nav>
          
    
          <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
              <div class="card">
                <div class="card-body" style="background-color: coral;">
                  <div class="d-flex flex-column align-items-center text-center" >
                    <img src="https://st.depositphotos.com/2101611/3925/v/600/depositphotos_39258143-stock-illustration-businessman-avatar-profile-picture.jpg" alt="Admin" class="rounded-circle" width="150">
                    <div class="mt-3">
                      <h4>{{name}}</h4>
                      <p class="text-secondary mb-1">PRIMA FACULTY ERP</p>
                     
                     
                    </div>
                  </div>
                </div>
              </div>
              <div class="card mt-3" >
                <ul class="list-group list-group-flush" style="background-color: rgb(238, 163, 176);">
                    <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                        <h2 class="mb-0">
                        <p>Update/Add your:</p></h2>
                      </li>
                  
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0"><i class="fa fa-trophy" style="font-size:48px;color:red"></i>Achievements</h6>
                    <span class="text-secondary">Update/Add</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0"><i class="fa fa-file-text-o" style="font-size:40px;"></i>Papers Published</h6>
                    <span class="text-secondary">Update/Add</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0"><i class="fa fa-certificate" style="font-size:48px;color:red"></i>Certification</h6>
                    <span class="text-secondary">Update/Add</span>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-md-8">
              <div class="card mb-3">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <h5 class="mb-0" style="color: black;"><p style="color: black;">Full Name</p></h5>
                    </div>
                    <div class="col-sm-9 text-secondary">
                    {{name}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h5 class="mb-0">Email</h5>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{mail}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h5 class="mb-0">Address</h5>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{address}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h5 class="mb-0">Mobile</h5>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{contact}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h5 class="mb-0">Role</h5>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{role}}
                    </div>
                  </div>
                  
                  
                </div>
              </div>

              <div class="row gutters-sm">
                <div class="col-sm-12 mb-3">
                  <div class="card h-100">
                    <div class="main-body" >
                        <p style="font-size: 25px;">Edit Details</p>
                        <div class="row pb-3">
                            
                            <input type="text"  id="FirstN" name="First name" placeholder="update your name here" [(ngModel)]="fullname" class="full-width " style="height: 40px;">
                        </div>
                        
                        <div class="row pb-3">
                            <input type="number"pattern="[0-9]{10}" placeholder="Update Number"  id="Number" [(ngModel)]="contact1update" name="Number" class="full-width " style="height: 40px;">
                           
                        </div>
                        <div class="row pb-3">
                            
                          <input type="text"  id="Address" name="Address" placeholder="update your Address here" [(ngModel)]="addressupdate" class="full-width " name="Address" style="height: 40px;">
                      </div>
                        <div class="row ">
                            <button type="button" (click)="update()"class="btn  full-width  box-shadow" style=" box-shadow: 2px 2px 2px 2px  #b6b6b6; height: 50px;" >     UPDATE DETAILS   </button>
                        </div>
                        <div class="row  pt-2 mt-2" style=" cursor: inherit;padding-left: 200px;">
                            <a href='#'class="mb-0" style="text-align: center; font-size: 20px;padding-left: 55px;">  change password</a>
                    </div> 
                    </div>
                    
                  </div>
                </div>
                
              </div>



            </div>
          </div>

        </div>
    </div>
  </div>
  <app-footer></app-footer>
</ion-content>
