<ion-header>
  <!-- <ion-toolbar>
    <ion-title>homepage</ion-title>
  </ion-toolbar> -->
</ion-header>

<ion-content>
  
  <div class="imgContainer">
    <!-- <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <a href="#">About</a>
      <a href="#">Services</a>
      <a href="#">Clients</a>
      <a href="#">Contact</a>
    </div>
    <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; open</span> -->
    <img src="https://images.unsplash.com/photo-1599502453136-d16af5ba6402?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80" style="width: 100%;height:836px;filter: blur(1.5px);">
    
    
        <div class="text">
            <h1>PRIMA FACULTY ERP</h1><br>
            <button class="button2 slide_left" onclick="document.getElementById('id01').style.display='block'" >LOGIN AS ADMIN</button>
            <div id="id01" class="modal">
  
              <form class="modal-content animate" action="/action_page.php" method="post">
                <div class="imgcontainer2">
                  <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
                  
                </div>
            
                <div class="container2">
                  <label for="email"><b>Email</b></label>
                  <input type="email" [(ngModel)]="emailA" placeholder="Enter Username" name="uname" required>
            
                  <label for="psw"><b>Password</b></label>
                  <input type="password" [(ngModel)]="passwordA" placeholder="Enter Password" name="psw" required>
                    
                  <button (click)="loginadmin()" class="button3 slide_left" type="submit">LOGIN</button>
                  <label>
                    <input type="checkbox" checked="checked" name="remember"> Remember me
                  </label>
                </div>
            
                <div class="container2" style="background-color:#f1f1f1">
                  <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
                  <span class="psw">Forgot <a class="mt-0" href="#">password?</a></span>
                </div>
              </form>
            </div>
            <button class="button2 slide_left" onclick="document.getElementById('id02').style.display='block'" st>LOGIN AS FACULTY</button><br>
            <div id="id02" class="modal">
  
              <form class="modal-content animate" action="/action_page.php" method="post">
                <div class="imgcontainer2">
                  <span onclick="document.getElementById('id02').style.display='none'" class="close" title="Close Modal">&times;</span>
                  
                </div>
            
                <div class="container2">
                  <label for="email"><b><u>Email</u></b></label>
                  <input type="email" [(ngModel)]="email" placeholder="Enter registered Email" name="email" required>
            
                  <label for="psw"><b><u>Password</u></b></label>
                  <input type="password" [(ngModel)]="password" placeholder="Enter Password" name="psw" required>
                    
                  <button (click)="login()" class="button3 slide_left" type="submit">LOGIN</button>
                  <label>
                    <input type="checkbox" checked="checked" name="remember"> Remember me
                  </label>
                </div>
            
                <div class="container2" style="background-color:#f1f1f1">
                  <button type="button" onclick="document.getElementById('id02').style.display='none'" class="cancelbtn">Cancel</button>
                  <span class="psw ">Forgot <a class="mt-0" href="#">password?</a></span>
                </div>
              </form>
            </div>
            <!-- <p class="pt-4">New member?<a href="#" routerLink="/register" routerLinlActive="active">Register here</a></p> -->
        </div>
        
    
   
</div>

</ion-content>
