.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.text {
    background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 110%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 25px;
  padding-bottom: 5%;
  text-align: center;
  
  }
  
.imgContainer{
  position: relative;
  height: 320px;
}

.slide_left:hover {
  box-shadow: inset 0 0 0 50px #f0ca77;
}
.button_slide {
  color: #FFF;
  border: 2px solid rgb(178, 240, 188);
  border-radius: 0px;
  padding: 20px 38px;
  display: inline-block;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 18px;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #747273;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}
h1{
    font-size: 35px;  
    font-weight: bold;
    letter-spacing: 1px;
}
input[type=text], input[type=password],input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    color: rgb(96, 89, 185);
    font-weight: bolder;
  }
  
  /* Set a style for all buttons */
  .button2 {
    // color: #FFF;
    background-color: transparent;
    color: white;
  border: 2px solid rgb(221, 177, 136);
  border-radius: 0px;
  padding: 20px 38px;
  display: inline-block;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
  margin-right: 3px;
  box-shadow: inset 0 0 0 0 #747273;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}
.button3 {
  // color: #FFF;
  background-color: transparent;
  color: rgb(12, 11, 11);
border: 2px solid rgb(57, 240, 103);
border-radius: 0px;
padding: 20px 25px;
display: inline-block;
font-family: "Lucida Console", Monaco, monospace;
font-size: 20px;
font-weight: bold;
letter-spacing: 1px;
width: 100%;
cursor: pointer;
margin-right: 3px;
box-shadow: inset 0 0 0 0 #747273;
-webkit-transition: ease-out 0.4s;
-moz-transition: ease-out 0.4s;
transition: ease-out 0.4s;
}
  
  button:hover {
    opacity: 0.8;
  }
  
  /* Extra styles for the cancel button */
  .cancelbtn {
    width: auto;
    padding: 10px 15px;
    background-color: #f44336;
  }
  
  /* Center the image and position the close button */
  .imgcontainer2 {
    text-align: center;
    // margin: 24px 0 12px 0;
    margin-bottom: 0%;
    position: relative;
    background: #dddddd;
  }
  
  img.avatar {
    width: 40%;
    border-radius: 50%;
  }
  label{
    color: black;
  }
  .container2 {
    padding: 0px;
    background: #dddddd;
  }
  
  span.psw {
    float: right;
    padding-top: 16px;
  }
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: auto; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    // padding-top: 60px;
    padding-bottom: 0%;
    padding-top: 0%;
    background: #070606;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto 5% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 2px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button (x) */
  .close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: red;
    cursor: pointer;
  }
  
  /* Add Zoom Animation */
  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
  }
    
  @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
  }