input[type=text], input[type=password]{
    width: 70%;
    color: black;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-left: 120px;
}
h1{
    font-size: 40px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
input[type=number]{
    width: 70%;
    color: black;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-left: 50px;
}
input[type=address]{
    width: 70%;
    color: black;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-left: 35px;
}
input[type=department]{
    width: 70%;
    color: black;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-left: 100px;
}
input[type=date]{
    width: 70%;
    color: black;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-left: 90px;
}
.centered {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 25px;
    font-weight: bolder;
  }
.bord{
    border: 2px solid rgb(8, 8, 8);
}
.bord2{
    border: 3px solid rgb(8, 8, 8);
}
.button3 {
    // color: #FFF;
    background-color: transparent;
    color: rgb(12, 11, 11);
  border: 2px solid rgb(57, 240, 103);
  border-radius: 0px;
  padding: 20px 25px;
  display: inline-block;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1px;
  width: 50%;
  cursor: pointer;
  margin-right: 3px;
  box-shadow: inset 0 0 0 0 #747273;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
  margin-bottom: 5px;
  }
  .slide_left:hover {
    box-shadow: inset 0 0 0 50px #9fee9c;
  }
