<ion-header>
  <app-navbar-a></app-navbar-a>
</ion-header>

<ion-content>
  <div class="container-fluid card px-2  mb-0" style="background-color: rgb(236, 247, 248)">
    
    <div class="row   " style="padding: 50px;">
      <div class="col-md-3 box-shadow bord example2 " style="background-color:rgb(248, 248, 248)">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSmvxg0chV2I5KAJXiA5_85VpSCeMwaiQe0CA&usqp=CAU" alt="Avatar" style="width:100%">
          <div class="container">
          <h4><b>{{fullname}}</b></h4> 
          <p>{{department}}</p> 
          </div>
      </div>
      <div class="col-md-5 pt-1 example2" style="padding-left: 6%;background-color:rgb(248, 248, 248)">
        <h1 class="pt-2 mt-0">Faculty Profile</h1>
        <hr class="solid ">
        
        
        <label  class="pt-3" for="number"><b>CONTACT NUMBER 1 :</b></label>{{contact1}}<br><hr>
        
        <label class="pt-3"  for="number"><b>Mail :</b></label>           {{mail}}<br><hr>
        
        <label class="pt-3" for="address"><b>RESIDENTIAL ADDRESS :</b></label> {{address}}<br><hr>
        
       
        <label for="date"><b>DATE OF BIRTH :</b></label> {{dob}}<br>
        <hr class="solid ">
        
        <h1><u>Education details</u></h1>
        <label  class="pt-4"for="Education"><b>QULIFICATION 1 :</b></label> {{qualf1}}<br>
        
        <label class="pt-5" for="Education"><b>QULIFICATION 2 :</b></label> {{qualf2}}<br>
       
        <label  class="pt-5"for="Education"><b>QULIFICATION 3 :</b></label> {{qualf3}}<br>
        
        
       
       
        <!-- <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQMQsB3l79Js4_u-Z4kQ8PyyYCo_8QOM8bTdw&usqp=CAU" class="bord2"  style="height: 100%;filter: blur(1.7px);margin-left: 10px;">
        <div class="centered"><u>PRIMA FACULTY ERP</u><br>faculty profile image</div> -->
      </div>
      <div class="col-md-4 pt-5 example2" style="padding-left: 5%;background-color:rgb(248, 248, 248)">
        <hr class="solid ">
        <label class="pt-5" for=""><b>ACHEIVEMENTS :</b></label>{{acheivements}}<br>
        <label  class="pt-5" for=""><b>CERTIFICATION :</b></label><a href="{{certify}}">{{certify}}</a><br>
        <label  class="pt-5" for=""><b>PAPER PUBLISHED :</b></label>{{papers}}<br><hr><hr>
      <hr class="solid ">
        <h1 class="pt-5"><u>Past Experience and Job Role</u> </h1>{{expandrole}}
      </div>
    </div>
    
  </div>
  <app-footer></app-footer>
</ion-content>
