<ion-header>
  <app-navbar-a></app-navbar-a>
</ion-header>

<ion-content>
  <div class="container-fluid card px-2  mt-1 mb-0" style="background-color: rgb(240, 241, 243);">
    
    <div class="row  " style="padding: 50px;">
      <div class="col-md-3 box-shadow bord " style="background-color:rgb(255, 255, 255)">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQn65EoPaaxyC01XxO0kKNXtVgQUkFYMSj9LA&usqp=CAU" alt="Avatar" style="width:100%">
          <div class="container">
          <h4><b>Name goes here </b></h4> 
          <p>Department goes here</p> 
          </div>
      </div>
      <div class="col-md-5">
        <h1 class="pt-2 mt-0"><u>Profile</u></h1>
        
        
        <label  class="pt-3" for="number"><b>CONTACT NUMBER 1</b></label> : ____________________<br>
        
        <label class="pt-3" for="number"><b>CONTACT NUMBER 2</b></label> : ____________________<br>
        
        <label class="pt-3" for="address"><b>RESIDENTIAL ADDRESS</b></label> : ____________________<br>
        
       
        <label for="date"><b>DATE OF BIRTH</b></label> : ____________________<br>
        
        <h1><u>Education details</u></h1>
        <label  class="pt-5"for="Education"><b>QULIFICATION 1</b></label> : ____________________<br>
        
        <label class="pt-5" for="Education"><b>QULIFICATION 2</b></label> : ____________________<br>
       
        <label  class="pt-5"for="Education"><b>QULIFICATION 3</b></label> : ____________________<br>
        
        
       
       
        <!-- <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQMQsB3l79Js4_u-Z4kQ8PyyYCo_8QOM8bTdw&usqp=CAU" class="bord2"  style="height: 100%;filter: blur(1.7px);margin-left: 10px;">
        <div class="centered"><u>PRIMA FACULTY ERP</u><br>faculty profile image</div> -->
      </div>
      <div class="col-md-4 pl-0">
        <label class="pt-5" for=""><b>ACHEIVEMENTS</b></label> : ____________________<br>
        <label  class="pt-5" for=""><b>CERTIFICATION</b></label> : ____________________<br>
        <label  class="pt-5" for=""><b>PAPER PUBLISHED</b></label> : ____________________<br>
        <h1 class="pt-5"><u>Past Experience and Job Role</u> </h1>: ___________________________________________
      </div>
    </div>
    
  </div>
</ion-content>
