.button2 {
    // color: #FFF;
    background-color: transparent;
    color: rgb(12, 11, 11);
  border: 2px solid rgb(223, 35, 35);
  border-radius: 0px;
  
  display: inline-block;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1px;
  width: 100%;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #747273;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
 
  }
  .slide_left2:hover {
    box-shadow: inset 0 0 0 50px #d81e1e;
  }
.button3 {
    // color: #FFF;
    background-color: transparent;
    color: rgb(12, 11, 11);
  border: 2px solid rgb(57, 240, 103);
  border-radius: 0px;
  
  display: inline-block;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1px;
  width: 100%;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #747273;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
 
  }
  .slide_left:hover {
    box-shadow: inset 0 0 0 50px #9fee9c;
  }
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 100%;
    margin: auto;
    text-align: center;
    font-family: arial;
  }
  .card:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.007); 
  }