<ion-header>
  <!-- <ion-toolbar>
    <ion-title>register</ion-title>
  </ion-toolbar> -->
</ion-header>

<ion-content>
  <nav aria-label="breadcrumb" class="main-breadcrumb bg-primary pt-0">
    <ol class="breadcrumb bg-primary">
      <li class="breadcrumb-item"><a href="#" routerLink="/homepage" routerLinlActive="active" style="color: white;">Home</a></li>
      <li class="breadcrumb-item active " aria-current="page"><a href="index.html" style="color: white;">Register</a></li> 
    </ol>
  </nav>
  <div class="imgcontainer">
    <img src="https://images.unsplash.com/photo-1542435503-956c469947f6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8MXw5Mzc1MTc0MHx8ZW58MHx8fHw%3D&w=1000&q=80" style="width: 100%;height: 773px;filter: blur(1.6px);">
    <div class="text">
        <div class="row" >
      
            <div class="col-md-12">
              <label class="bg-primary text-center" style="width: 100%;height: 10%;font-size: 25px;"><strong>REGISTER AT PRIMA ERP</strong></label><BR>
                
               
                <label for="email"><b>Email</b></label>
                <input type="text" placeholder="Enter email" name="email" required>
          
                <label for="psw"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="psw" required>
          
                <label for="psw-repeat"><b>Repeat Password</b></label>
                <input type="password" placeholder="Repeat Password" name="psw-repeat" required>
                <div class="button_slide slide_left">Sign Up</div>
                <label>
                  <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
                </label>
                <p>By creating an account you agree to our <a href="#" Class="pt-0" style="color:dodgerblue">Terms & Privacy</a>.</p>
          
            </div>
          </div>
    </div>  
  </div>
</ion-content>
