<ion-header>
<app-navbar-a></app-navbar-a>
</ion-header>

<ion-content>
  
  <div class="imgcontainer">
    <img src="https://images.unsplash.com/photo-1542435503-956c469947f6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8MXw5Mzc1MTc0MHx8ZW58MHx8fHw%3D&w=1000&q=80" style="width: 100%;height: 760px;filter: blur(1.8px);">
    <div class="text">
        <div class="row" >
      
            <div class="col-md-12">
              <label class="bg-primary text-center" style="width: 100%;height: 10%;font-size: 25px;"><strong>REGISTER A FACULTY PRIMA ERP</strong></label><BR>
                <label for="name"><b>Full name</b></label>
                <input type="text" [(ngModel)]="firstname"placeholder="Full name" name="name" required>
               
                <label for="email"><b>Email</b></label>
                <input type="text" [(ngModel)]="email" placeholder="Enter email" name="email" required>
          
                <label for="psw"><b>Password</b></label>
                <input type="password" [(ngModel)]="password" placeholder="Enter Password" name="psw" required>
          
                
                <div   (click)=" register()" class="button_slide slide_left"><a href = 'mailto:ladekarsm@rknec.edu?body="Yourbody"&subject="a subject".com'>Sign Up</a></div>
                <label>
                  <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
                </label>
                <p>By creating an account you agree to our <a href="#" Class="pt-0" style="color:dodgerblue">Terms & Privacy</a>.</p>
          
            </div>
          </div>
    </div>  
  </div>
  <app-footer></app-footer>
</ion-content>
